.main1 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    border-radius: 15px;
}

.main {
    width: fit-content;
}

.btn {
    border-radius: 5px;
    border-color: none;
    transition: .5s;
    margin-left: 10px;
}

.btn:hover {
    background: gray;
}

button {
   border-radius:"5px";
   border-color:"none";
   margin-left: "20px";
}

body {
    font-family: "Poppins", serif;
}